html, body {
	margin: 0;
	padding: 0;
	/*background: url('../images/casey-horner-fsJB3KT2rj8-unsplash.jpg')*/
	background-image: linear-gradient(to top, #000000 0%, #09203f 100%);
}
.wrapper {
	display:flex;
	flex-direction: column;
	min-height: 100vh;
	
	
	
}
.conteiner {
	max-width: 1200px;
	margin: 0 auto;
	flex: 1 0 auto;	
}
a {
	text-decoration: none;
}
/* header */
.top_heder {
	height: 25px;
	width: 100%;
	background-color: #191970;
	color: #FFFFFF;
	padding-top: 10px; 
	padding-left:30px;
	padding-bottom: 10px;
	font-size: 16px;
}

.head_menu {
	height: 90px;
	display: fixed;
	width: 100%;
	background-color: rgb(112, 128, 144, .4);
	top: 25px;
}
nav {
	display: flex;
	justify-content:space-around;
	align-items: center;
	height: 90px;
	width: 100%;
}

nav span {
	/*border: 1px solid #fff;
	box-sizing: border-box;*/
	width: 200px;
	height: 60px;
	/*text-align: center;*/
	padding-top: 35px;
	/*padding-bottom: 20px;*/
	letter-spacing: 3px;
	text-transform: uppercase;
	cursor: pointer;
	flex: none;	
}
nav span:last-child {
	width: 150px;
	cursor: pointer;
	flex: none;	
}
.textbotton {
  font-size: 18px;
  color: #FFD700;
}
/* main */

/* footer */
footer {
	flex: 0 0 auto;
}
.form {
	height: 250px;
	width: 100%;
	background-color: rgb(112, 128, 144, .4);
}
.footer {
	display:flex;
	justify-content:space-around;
	align-items: center;
	height: 90px;
	width: 100%;
	background-color: rgb(112, 128, 144, .3);
}
.footer span {
	width: 350px;
	height: 60px;
	text-align: center;
	padding-top: 30px;
	/*padding-bottom: 10px;*/
	letter-spacing: 3px;
	flex: none;	
	font-size: 16px;
	color: #FFD700;
}