html, body {
	margin: 0;
	padding: 0;
	
	min-width: 320px;
}
.wrapper {
	display:flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to top, #000000 0%, #09203f 100%);
}
.conteiner {
	margin: 0 auto;
	flex: 1 0 auto;	
}
a {
	text-decoration: none;
}
/* header */
/*.top_heder {
	height: 25px;
	width: 100%;
	background-color: #191970;
	color: #FFFFFF;
	padding-top: 10px; 
	padding-left:30px;
	padding-bottom: 10px;
	font-size: 16px;
}*/
.header {
	display: relative;
}
.header_menu {
	height: 90px;
	position: fixed;
	width: 100%;
	background-color: rgba(112, 128, 144, .3);
	top: 0;
	z-index: 5;
}
nav {
	display: flex;
	justify-content:space-around;
	align-items: center;
	height: 100%;
	width: 100%;
}
.textbotton {
	cursor: pointer;
	font-size: 18px;
	color: #FFD700;
}
.menupoint {
	box-sizing: border-box;
	width: 170px;
	height: 65px;
	text-align: center;
	padding-top: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	/*flex: none;	*/
}
.pulldown-point {
	color: #FFD700;
	/*background-color: rgb(112, 128, 144);*/
}
/*.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}*/
.menupoint > span {
	display: none;
	position: absolute;
	background: rgb(112, 128, 144);
	top: 65px;
	left: 0;
	padding: 10px 10px 5px;
	border-radius: 5px;
	/*box-shadow: 1px 2px 5px rgba(0,0,0,.4);*/
	font-size: 18px;
	text-transform: none;
}
.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
}
.menupoint:hover {
	border-radius: 5px;
	background: rgba(112, 128, 144, .7); 
}
.menupoint:hover .textbotton {
	color: #FFFF00;
}
.pulldown-point:hover {
	color: #FFFF00;
}

.netwerk_conteiner {
	padding-top: 12px;
}

.netwerk {
	padding: 0;
	box-sizing: border-box;
	cursor: pointer;
}
.netwerk img {
	width: 30px;
}
.logoheader {
	height: 300px;
	width: 100%;
	display:flex;
	background: url('../images/wil-stewart-RpDA3uYkJWM-unsplash.jpg');
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 0;
}
.logo {
	text-align: center;
	/*font-size: 22px;*/
	color: #FFD700;
	letter-spacing: 3px;
	text-transform: uppercase;
}
/* main */

/* footer */
footer {
	flex: 0 0 auto;
}
.top_footer {
	height: 250px;
	width: 100%;
	background-color: rgba(112, 128, 144, .1);
	color: #FFD700;
}
.email {
	width: 400px;
	height: 50px;
	background-color: #F5F5DC;
	border-radius: 10px;
	border: 2px solid #FFD700;
	box-sizing: border-box;
	font-size: 18px;
	color: #2F4F4F;
}
.form_text {
	display:flex;
	justify-content: center;
	align-items: center;
	color: #FFD700;
	letter-spacing: 3px;
	padding-top: 15px;
}
.form {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.form p {
	font-size: 20px;
}
button {
	width: 150px;
	height: 50px;
	background-color: #FFD700;
	border: 2px solid #FFD700;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 18px;
	color: #2F4F4F;
	cursor: pointer;
}
button:hover {
	background-color: #FFFF00;
	border: 2px solid #FFFF00;
}
.bottom_footer {
	display:flex;
	justify-content:space-around;
	align-items: center;
	height: 90px;
	width: 100%;
	background-color: rgba(112, 128, 144, .2);
}
.bottom_footer span {
	width: 350px;
	height: 60px;
	text-align: center;
	padding-top: 30px;
	/*padding-bottom: 10px;*/
	letter-spacing: 3px;
	/*flex: none;*/	
	font-size: 16px;
	color: #FFD700;
}